header.navigation
    .container
        .row
            a.logo Logo ABSSQRT
            ul
                li([routerLink]='["/users"]') Users
                li([routerLink]='["/roles"]') Roles
                li([routerLink]='["/employees"]') Employees
