<div class="table-cell" [ngSwitch]="key">
    <span *ngSwitchCase="'phone'">{{ value | phone }}</span>
    <span *ngSwitchCase="'created'">{{ value | tableDate }}</span>
    <span *ngSwitchCase="'updated'">{{ value | tableDate}}</span>
    <div *ngSwitchCase="'roles'">
        <div *ngFor="let role of value">{{ role.title }}</div>
    </div>
    <button *ngSwitchCase="'key'"
            class="btn btn-default"
            [routerLink]="['/employees', value]">Details</button>
    <span *ngSwitchDefault>{{ value }}</span>
</div>
