.container
    button(class="btn btn-success", [routerLink]="['create']") Create user
    app-directory-table(
        [data]="users",
        [settings]="usersSettings",
        [caption]="'Users list'")
