h3 {{ caption }}
table(class='table table-hover')
    thead
        tr
            th(*ngFor="let map of columnMaps") {{ map.header }}
    tbody
        tr(*ngFor="let record of data")
            td(*ngFor="let map of columnMaps")
                app-table-cell(
                    *ngIf="tableCellSwitcher",
                    [value]="record[map.primaryKey]",
                    [key]="map.primaryKey")
                span(
                    *ngIf="!tableCellSwitcher") {{ record[map.primaryKey] }}
