
<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let map of columnMaps">{{ map.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data">
      <td *ngFor="let map of columnMaps">
        <app-table-cell *ngIf="tableCellSwitcher" [value]="record[map.primaryKey]" [key]="map.primaryKey"></app-table-cell><span *ngIf="!tableCellSwitcher">{{ record[map.primaryKey] }}</span>
      </td>
    </tr>
  </tbody>
</table>
<div class="three-bounce__wrapp" *ngIf="data.length === 0">
  <div class="three-bounce">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
</div>