.container
    app-title-row([title]="'Roles'")
    .row
        .col-md-4
            app-role-item((roleCreated)="createRole($event)")
        .col-md-8
            app-directory-table(
            [data]="roles",
            [tableCellSwitcher]="false",
            [settings]="rolesSettings")
