.container
    button((click)="openModalWithComponent()", class="btn btn-success") Add role
    app-directory-table(
        [data]="roles",
        [tableCellSwitcher]="false",
        [settings]="rolesSettings",
        [caption]="'Role types'")
